<h2 class="text-center mt-4 mb-4">質問に答えて、あなたに合ったキャストを探しましょう！</h2>
<p class="text-center mt-4 mb-4">診断結果：26キャスト＋???</p>
<p class="text-center mt-4 mb-4">最終更新日：2020年7月21日</p>
<p class="text-center mt-4 mb-4">※独断と偏見で作られています。公式見解ではありません。</p>
<div class="text-center">
    <%= link_to "入国する！", top_q1_path, class: "btn btn-primary" %>
</div>