<!--Q11-->

<h3 class="text-center mt-4 mb-4">Q.着てみたいのは？</h3>
<div class="text-center">
    <%= link_to "バニースーツ", result_r23_path, class: "btn btn-primary" %>
</div>
<div class="text-center">
    <%= link_to "宇宙服", result_r24_path, class: "btn btn-primary mt-4" %>
</div>
<div class="text-center">
    <%= link_to "チャイナドレス", result_r25_path, class: "btn btn-primary mt-4" %>
</div>