<!--Q14-->

<h3 class="text-center mt-4 mb-4">Q.どこに住みたい？</h3>
<div class="text-center">
    <%= link_to "海", result_r26_path, class: "btn btn-primary" %>
</div>
<div class="text-center">
    <%= link_to "森", result_r27_path, class: "btn btn-primary mt-4" %>
</div>
<div class="text-center">
    <%= link_to "図書館", result_r28_path, class: "btn btn-primary mt-4" %>
</div>