<!--Q2-->

<h3 class="text-center mt-4 mb-4">Q.心に決めたパートナーは居る？</h3>
<div class="text-center">
    <%= link_to "います！", top_q3_path, class: "btn btn-primary" %>
</div>
<div class="text-center">
    <%= link_to "まだいません！", top_q9_path, class: "btn btn-primary mt-4" %>
</div>


