<!--Q3-->

<h3 class="text-center mt-4 mb-4">Q.働くならどこがいい？</h3>
<div class="text-center">
    <%= link_to "裁判所", result_r1_path, class: "btn btn-primary" %>
</div>
<div class="text-center">
    <%= link_to "植物園", result_r2_path, class: "btn btn-primary mt-4" %>
</div>
<div class="text-center">
    <%= link_to "水族館", result_r3_path, class: "btn btn-primary mt-4" %>
</div>
<div class="text-center">
    <%= link_to "教会", result_r4_path, class: "btn btn-primary mt-4" %>
</div>