<!--Q7-->

<h3 class="text-center mt-4 mb-4">Q.好きなのは？</h3>
<div class="text-center">
    <%= link_to "姉", result_r11_path, class: "btn btn-primary" %>
</div>
<div class="text-center">
    <%= link_to "猫", result_r12_path, class: "btn btn-primary mt-4" %>
</div>
