<!--Q8-->

<h3 class="text-center mt-4 mb-4">Q.武器にするなら？</h3>
<div class="text-center">
    <%= link_to "歌声", result_r13_path, class: "btn btn-primary" %>
</div>
<div class="text-center">
    <%= link_to "刀", result_r14_path, class: "btn btn-primary mt-4" %>
</div>
<div class="text-center">
    <%= link_to "銃", result_r15_path, class: "btn btn-primary mt-4" %>
</div>
<div class="text-center">
    <%= link_to "水晶玉", result_r16_path, class: "btn btn-primary mt-4" %>
</div>
