<!--Q9-->

<h3 class="text-center mt-4 mb-4">Q.どんな髪色が好き？</h3>
<div class="text-center">
    <%= link_to "金色", top_q10_path, class: "btn btn-primary" %>
</div>
<div class="text-center">
    <%= link_to "黒色", top_q11_path, class: "btn btn-primary mt-4" %>
</div>
<div class="text-center">
    <%= link_to "白色", top_q12_path, class: "btn btn-primary mt-4" %>
</div>
<div class="text-center">
    <%= link_to "その他色", top_q13_path, class: "btn btn-primary mt-4" %>
</div>