<div class="text-center mt-4 mb-4">
    <p>あなたにおすすめのキャストは......</p>
</div>
<div class="text-center mt-4 mb-4">
    <h2>シェハラザードです！？（シークレット２）</h2>
</div>
<div class="text-center">
    <p>占星遊戯祭で会えます！</p>
    <%= link_to "公式サイトでイベントを確認する！","https://wonder.sega.jp/event/astrology/",class: "btn btn-primary mt-4" %>
</div>