<div class="text-center mt-4 mb-4">
    <p>あなたにおすすめのキャストは......</p>
</div>
<div class="text-center mt-4 mb-4">
    <h2>アナスンです！？（シークレット３）</h2>
</div>
<div class="text-center">
    <p>冒険譚で会えます！</p>
    <%= link_to "公式サイトでゲームモードを確認する！","https://wonder.sega.jp/event/boukentan/",class: "btn btn-primary mt-4" %>
</div>