<div class="text-center mt-4 mb-4">
    <p>あなたにおすすめのキャストは......</p>
</div>
<div class="text-center mt-4 mb-4">
    <h2>マメール・ロワです！？（シークレット４）</h2>
</div>
<div class="text-center">
    <p>舞闘会で会えます！</p>
    <%= link_to "公式サイトでゲームモードを確認する！","https://wonder.sega.jp/event/masquerade/",class: "btn btn-primary mt-4" %>
</div>