<div class="text-center mt-4 mb-4">
    <p>あなたにおすすめのキャストは......</p>
</div>
<div class="text-center mt-4 mb-4">
    <h2>オトです！？（シークレット１）</h2>
</div>
<div class="text-center">
    <p>火遠理の隣にいます！</p>
    <%= link_to "公式サイトでキャラ詳細を確認する！","https://wonder.sega.jp/cast/#!/n:urashima",class: "btn btn-primary mt-4" %>
</div>