<div class="text-center mt-4 mb-4">
    <p>あなたにおすすめのキャストは......</p>
</div>
<div class="text-center mt-4 mb-4">
    <h2>玉藻です！</h2>
</div>
<div class="text-center">
    <%= link_to "公式サイトでキャラ詳細を確認する！","https://wonder.sega.jp/cast/#!/n:tamamo",class: "btn btn-primary mt-4" %>
</div>